@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.spin-fast {
    @apply animate-spin;
    animation-duration: 0.5s; /* 更快的旋转速度 */
}

/* Prevent background scrolling when modal is open */
body.modal-open {
    overflow: hidden !important;
}